

<h1>Give your pointage</h1>
<br>  
<div class="row">
  <div class="col">
    <label>Pointage In (AM) :</label>
    <input id="in1" type="text" class="form-control" />
  </div>
  <div class="col">
    <label>Pointage Out (AM) :</label> 
    <input id="in2" type="text" class="form-control"/>
  </div>
  <div class="col">
    <label>Pointage In (PM) :</label> 
    <input id="in3" type="text" class="form-control"/>
  </div>
  <div class="col">
    <label>Pointage Out (PM) :</label> 
    <input id="in4" type="text" class="form-control"/>
  </div>
</div>

<br>

<div class="button" class="btn btn-primary" (click)="getResponse()">Click me!</div>
{{response}}